
TIF_proyect/tests/__pycache__/results_display.cpython-311.pyc
TIF_proyect/tests/__pycache__/test_manager.cpython-311.pyc
TIF_proyect/tests/test_types/__pycache__/test_base.cpython-311.pyc
TIF_proyect/tests/test_types/__pycache__/tug.cpython-311.pyc
TIF_proyect/ui/widgets/select_tests/__pycache__/select_tests.cpython-311.pyc
TIF_proyect/ui/widgets/video_player/__pycache__/video_player.cpython-311.pyc
TIF_proyect/.spyproject/config/workspace.ini
TIF_proyect/.spyproject/config/backups/workspace.ini.bak
TIF_proyect/tests/__pycache__/results_display.cpython-311.pyc
TIF_proyect/tests/__pycache__/test_manager.cpython-311.pyc
TIF_proyect/tests/test_types/__pycache__/test_base.cpython-311.pyc
TIF_proyect/tests/test_types/__pycache__/tug.cpython-311.pyc
TIF_proyect/ui/widgets/select_tests/__pycache__/select_tests.cpython-311.pyc
TIF_proyect/ui/widgets/video_player/__pycache__/video_player.cpython-311.pyc
